  openssl_conf = openssl_init

  [openssl_init]
  providers = provider_sect

  [provider_sect]
  default = default_sect
  pkcs11 = pkcs11_sect

  [default_sect]
  activate = 1

  [pkcs11_sect]
  module = /usr/lib/ossl-modules/pkcs11.so
  pkcs11-module-path = /usr/lib/libykcs11.so
  activate = 1

